
body {
    overflow: hidden;
    width   : 100%;
    height  : 100%;
    margin  : 0;
    padding : 0;
}

canvas { 
    width   : 100%;
    height  : 100%;
}

#healthDisplay {
    position:absolute;
    top:20px;
    left : 20px;
    color:white;
    font-size: 2em;
}

#healthBar {
    position: absolute;
    top: 55px;
    left : 20px;
    width: 190px;
}

progress {
  color: red;
  font-size: .6em;
  line-height: 1.5em;
  text-indent: .5em;
  width: 15em;
  height: 1.8em;
  border: 1px solid grey;
  background: #fff;
}

progress::-moz-progress-bar { background: red; }